.profile {
    margin: 0 auto 51px;
    display: flex;
    max-width: 880px;
    justify-content: space-between;
    
}

@media (max-width: 900px) {
    .profile {
      margin: 0 20px 51px;
    }
}

@media (max-width: 700px) {
    .profile {
      flex-direction: column;
    }
}