.popup__close-button {
    background: transparent url(../../../images/close\ cross.svg);
    background-size: contain;
    background-position: center;
    position: absolute;
    border: none;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
}

.popup__close-button:hover {
    background-image: url(../../../images/close\ cross_hover.svg);
}