.popup__image {
    max-width: 75vh;
}

@media (max-width: 900px) {
    .popup__image {
        max-width: 450px;
    }
}

@media (max-width: 500px) {
    .popup__image {
        max-width: 240px;
        
    }
}